<!DOCTYPE html>
<html lang="en" ng-app="app1">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/angular.js/1.5.11/angular.min.js"></script>
	<style type="text/css">
	/* input.ng-valid{
		border:1px white solid;
	} */
	/* input.ng-invalid{
		border: 1px red solid;
	} */
	</style>
</head>
<body>
	<div class="col-sm-6 col-sm-offset-2" ng-controller="Bdd">
		<h1>欢迎注册</h1>
		<form novalidate name="nForm">
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon">用户名</div>
					<input type="text" name="username" ng-model="username" class="form-control" 
					placeholder="您的账户名和登录名" required ng-pattern="/^(\w|[\u4e00-\u9fa5]|-){4,20}$/" ng-blur="change('regText',nForm.username.$error)">									
					<!-- 支持中文、数字、字母、”_”、”-”的组合 -->
					<div class="input-group-addon" ng-cloak ng-repeat="re in regText.regList|filter:regText.regVal">{{re.bool}}</div>	
				</div>
				<div ng-repeat="re in regText.regList|filter:regText.regVal">{{re.tips}}</div>
				<!-- <div>{{nForm.username.$error}}</div> -->
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon">设置密码</div>
					<input type="password" name="password" ng-model="password" class="form-control" 
					placeholder="必须为字母、数字、符号两种及以上的组合，6-20位" required ng-pattern="/^(?![\d]+$)(?![a-zA-Z]+$)(?![^\da-zA-Z]+$).{6,20}$/" ng-blur="change('regPassword',nForm.password.$error)">
					<!-- 必须为字母、数字、符号两种及以上的组合，6-20位 -->	
					<div class="input-group-addon" ng-cloak ng-repeat="re in regPassword.regList|filter:regPassword.regVal">{{re.bool}}</div>	
					<!-- <div class="input-group-addon" ng-cloak ng-if="regPassword.bool">√</div> -->
				</div>
				<div ng-repeat="re in regPassword.regList|filter:regPassword.regVal">{{re.tips}}</div>
				<!-- <div>{{nForm.password.$error}}</div> -->
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon">确认密码</div>
					<input type="password" name="password2" ng-model="password2" class="form-control" 
					placeholder="请再次输入密码" required ng-blur="confirm(password,password2,nForm.password.$error)">
					<div class="input-group-addon" ng-cloak><span  ng-show="regPassword2.bool">√</span></div>
				</div>
					<div ng-hide="regPassword2.bool">请再次输入密码</div>
				<!-- <div>{{nForm.password2.$error}}</div> -->
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon">手机号</div>
					<input type="number" name="phonenumber" ng-model="number1" class="form-control" 
					placeholder="建议使用常用手机号" required ng-pattern="/^1[34578]\d{9}$/"
					ng-blur="change('regPhone',nForm.phonenumber.$error)">
					<div class="input-group-addon" ng-cloak ng-repeat="re in regPhone.regList|filter:regPhone.regVal">{{re.bool}}</div>
				</div>
				<div ng-repeat="re in regPhone.regList|filter:regPhone.regVal">{{re.tips}}</div>
				<!-- <div>{{nForm.phonenumber.$error}}</div> -->
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon">验证码</div>
					<input type="text" name="identifyingCode" ng-model="text4" class="form-control" 
					placeholder="请输入验证码" required>
				</div>
				<!-- <div>{{nForm.identifyingCode.$error}}</div> -->
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon">手机验证码</div>
					<input type="number" name="phoneCode" ng-model="number2" class="form-control" 
					placeholder="请输入手机验证码" required ng-pattern="/^\d{6}$/">
				</div>
				<!-- <div>{{nForm.phoneCode.$error}}</div> -->
			</div>
			<button type="submit" class="btn btn-primary btn-block">确认注册</button>
		</form>
	</div>
	
	<script type="text/javascript">
	var m2=angular.module('app1',[]);
	m2.controller('Bdd',['$scope',function($scope){
		$scope.regText={
			regVal:'default',
			//bool:false,
			regList:[
			{name:'default',tips:'提示：支持中文、数字、字母、”_”、”-”的组合',bool:''},
			{name:'required',tips:'请输入用户名',bool:''},
			{name:'pattern',tips:'长度只能在4-20个字符之间',bool:''},
			{name:'pass',tips:'',bool:'√'}
			]
		}
		$scope.regPassword={
			regVal:'default',
			//bool:false,
			regList:[
			{name:'default',tips:'提示：字母、数字、符号两种及以上的组合，6-20位',bool:''},
			{name:'required',tips:'请输入密码',bool:''},
			{name:'pattern',tips:'长度只能在6-20个字符之间且必须为字母、数字、符号两种及以上的组合',bool:''},
			{name:'pass',tips:'',bool:'√'}
			]
		}
		$scope.regPassword2={
			bool:false
		};
		$scope.regPhone={
			regVal:'default',
			//bool:false,
			regList:[
			{name:'default',tips:'提示：完成验证后,你可以用该手机登录和找回密码',bool:''},
			{name:'required',tips:'提示：请输入手机号',bool:''},
			{name:'pattern',tips:'格式有误',bool:''},
			{name:'pass',tips:'',bool:'√'}
			]
		}
		$scope.change=function(reg,err){
			for(var attr in err){
				if(err[attr]===true){
					$scope[reg].regVal=attr;
					return;
				}
			}
			$scope[reg].regVal="pass";
			$scope[reg].bool=true;
		}
		$scope.confirm=function(val1,val2,err){
			for(var attr in err){
				if(err[attr]===true){
					return;
				}
			}
			return $scope.regPassword2.bool=(val1===val2);
		}
	}])
	</script>
</body>
</html>